<div class="container">
    <h2>Crear Usuario</h2>
    <form #userForm="ngForm" (ngSubmit)="signUp()">
        <div class="parts">
            <div class="part1">
                <div>
                    <label for="name">Nombre (s)</label>
                    <input type="text" id="name" name="name" [(ngModel)]="name" autofocus class="p-inputtext" required>
                </div>
        
                <div>
                    <label for="apellido">Apellido (s)</label>
                    <input type="text" id="apellido" name="apellido" [(ngModel)]="apellido" autofocus class="p-inputtext" required>
                </div>
        
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" [(ngModel)]="email" name="email" autofocus class="p-inputtext"
                        (keyup)="updateAccountFromEmail()" (change)="updateAccountFromEmail()" required>
                </div>
            </div>

            <div class="part2">
                <div>
                    <label for="account">Cuenta</label>
                    <input disabled type="text" id="account" [(ngModel)]="account" name="account" autofocus class="p-inputtext"
                        required>
                </div>
        
                <div>
                    <label for="password">Contraseña</label>
                    <input type="password" id="password" [(ngModel)]="password" name="password" class="p-inputtext" required>
                </div>
        
                <div>
                    <label for="confirmPassword">Confirmar Contraseña</label>
                    <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword"
                        class="p-inputtext" required>
                </div>
            </div>
        </div>

        <button type="submit" class="p-button p-button-success">Crear Usuario</button>
    </form>
    <div *ngIf="loading$ | async" class="loading-overlay">
        <div class="spinner"></div>
      </div>

    <!-- Alertas -->
    <div *ngIf="showPasswordMismatchAlert" class="alert alert-danger">
        Las contraseñas no coinciden. Por favor, inténtalo de nuevo.
        <button (click)="closeAlerts()" class="close">&times;</button>
    </div>
    <div *ngIf="showFirebaseErrorAlert" class="alert alert-danger">
        Ha ocurrido un error al registrar el usuario. Por favor, inténtalo más tarde.
        <button (click)="closeAlerts()" class="close">&times;</button>
    </div>
    <div *ngIf="showSignUpSuccessAlert" class="alert alert-success">
        ¡Usuario creado exitosamente!
        <button (click)="closeAlerts()" class="close">&times;</button>
    </div>
</div>
